<div class="no_page_main">
    <div class="no_page">
        <div class="no_page_title">404</div>
        <div class="no_page_text">Не туда попали</div>
        <a href="choose_chat.html">Назад к чатам</a>
    </div>
</div>

      