<style>
    .test_index {
        width: 250px;
        margin: 100px auto;
    }
</style>

<div class="test_index">
    <ul>
        <li><a href="/authorization">Авторизация</a></li>
        <li><a href="/registration">Регистрация</a></li>
        <li><a href="/choose_chat">Чат</a></li>
        <li><a href="/profile">Профиль</a></li>
        <li><a href="/profile_edit">Редактирование профиля</a></li>
        <li><a href="/profile_edit_pass">Изменение пароля</a></li>
        <li><a href="/404">404</a></li>
        <li><a href="/500">500</a></li>
    </ul>
</div>

